.group {
    text-align: center;
}

.userEntry {
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 96px;
    margin-bottom: 15px;
}

.passEntry {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 15px;
}