.header {
    color: #F2A900;
    background-color: #FBF861;
    text-align: center;
    font-family: Courier New;
}

.questions {
    font-family: Poppins;
    margin-left: 200px;
    text-align: left;
    font-size: 25px;
    color: #F2A900;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: square;
}

.submitQuestion {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 10px;
}

.submitButton {
    margin-bottom: 100px;
}

.answers {
    text-indent: 35px;
}

.topImage {
    height: auto;
    width: 100%;
}