.filterButton
{
    background-color: gray;
    color: black;
    padding: 12px 23px;
    font-size: 15px;
    border: none;
    position: center;
    border-radius: 25px;
}
.filterBorder
{
    padding: 7px 12px ;

}
.posts
{
    padding: 20px 30px;
    background-color: #F2A900;
    position: center;
    border-radius: 25px;
    text-align: center;
    border-style: solid;
    border-color: #2D68C4;
    border-width: thick;
}

.rsvpButton
{
    background-color: #2D68C4;
    border-radius: 25px;
    padding: 10px 14px;
    float: right;

}
.postTitle
{
    float: left;
    color: #2D68C4;


}

.attendees
{
    float: right;
    font-size: large;
    font-family: 'Courier New', monospace;

}
.description
{
    font-family: 'Courier New', monospace;
    float: inside;
    color: black;
    font-size: 15px;

}

.date
{
    font-family: 'Courier New', monospace;
}